html {
  font-size: 62.5%;
}
body {
  width:100%;
  background-color: #f0f2f5;
  color: black;
  margin: 0 auto;
  line-height: 18px;
  text-align: center;
}
.footer {
  background-color: #ffffff;
  width: 100%;
  display: table;
  bottom: 0;
  border-radius: 0px;
  padding-top: 0px;
}
.footer p {
  font-size: 12px;
  word-spacing: 6px;
  color: grey;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0px;
}
a:hover {
  color: white;
  background-color: black;
  opacity: 0.6;
}
.navbar {
  font-family: 'Cambria';
  color: #4f53b5;
  top: 0;
  float: left;
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 50px;
}
.navbar-brand {
  font-size: 50px;
  font-weight: bold;
}
.fbp {
  color: black;
  font-size: 16px;
}
.showp {
  font-size: 16px;
  word-spacing: 10px;
  letter-spacing: 2px;
}
.signupform {
  font-size: 16px;
  border: 1px solid black;
  width: 250px;
  float:right;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 250px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
}
.field {
  font-size: 16px;
}
.edit {
  float: center;
  padding-top: 280px;
  padding-left: 30px;
  margin: 0 auto;
  display: block;
}
.user {
  height: auto;
}
.picture {
  height: auto;
}
.editpic {
  float: center;
  padding-top: 0px;
  padding-left: 5px;
  margin: 0 auto;
  margin-top: 250px;
  display: block;
}
.showb {
  float: center;
  padding-top: 0px;
  padding-left: 5px;
  margin: 0 auto;
  margin-top: 250px;
  display: block;
}
#notice {
  color: green; }
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}
  #error_explanation {
    width: 250px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    float: right;
    padding-right: 250px;
  }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
}
  #error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
