.container {
  width: 100%;
  height: 500px;
  margin-top:0px;
  padding: 0px;
  position: relative;
}
.left {
  width: 50%;
  height: 40px;
  float: left;
  padding-left: 200px;
  padding-top: 60px;
  margin: 0;
}
.right {
  width: 50%;
  height: 500px;
  float: right;
  padding-right: 200px;
  padding-bottom: 0px;
  margin: 0;

}
.footerdiv {
  background-color: #ffffff;
  width: 100%;
  display: table;
  bottom: 0;
  border-radius: 0px;
  padding: 10px;
  height: auto;
  position: relative;
}
.footerdiv p {
  font-size: 12px;
  word-spacing: 6px;
  color: grey;
  text-align: center;
  padding-top: 10px;
}

